{
  "root": true,
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint
  "env": {
    // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    "browser": true, // browser global variables.
    "node": true, // Node.js global variables and Node.js-specific rules.
    "mocha": true, // Mocha testing global variables.
    "jquery ": true // jQuery global variables.
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": false,
      "legacyDecorators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "jsx": false
    }
  },
  "rules": {
    /**
     * Strict mode
     */
    // babel inserts "use strict"; for us
    "strict": ["error", "never"], // http://eslint.org/docs/rules/strict

    /**
     * Variables
     */
    "no-shadow": "error", // http://eslint.org/docs/rules/no-shadow
    "no-shadow-restricted-names": "error", // http://eslint.org/docs/rules/no-shadow-restricted-names
    "no-unused-vars": [
      "error",
      {
        // http://eslint.org/docs/rules/no-unused-vars
        "vars": "local",
        "args": "none"
      }
    ],
    "no-use-before-define": "off", // http://eslint.org/docs/rules/no-use-before-define

    /**
     * Possible errors
     */
    "comma-dangle": ["error", "never"], // http://eslint.org/docs/rules/comma-dangle
    "no-cond-assign": ["error", "always"], // http://eslint.org/docs/rules/no-cond-assign
    "no-console": "warn", // http://eslint.org/docs/rules/no-console
    "no-debugger": "warn", // http://eslint.org/docs/rules/no-debugger
    "no-alert": "warn", // http://eslint.org/docs/rules/no-alert
    "no-constant-condition": "warn", // http://eslint.org/docs/rules/no-constant-condition
    "no-dupe-keys": "error", // http://eslint.org/docs/rules/no-dupe-keys
    "no-duplicate-case": "error", // http://eslint.org/docs/rules/no-duplicate-case
    "no-empty": "error", // http://eslint.org/docs/rules/no-empty
    "no-ex-assign": "error", // http://eslint.org/docs/rules/no-ex-assign
    "no-extra-boolean-cast": "off", // http://eslint.org/docs/rules/no-extra-boolean-cast
    "no-extra-semi": "error", // http://eslint.org/docs/rules/no-extra-semi
    "no-func-assign": "error", // http://eslint.org/docs/rules/no-func-assign
    "no-inner-declarations": "error", // http://eslint.org/docs/rules/no-inner-declarations
    "no-invalid-regexp": "error", // http://eslint.org/docs/rules/no-invalid-regexp
    "no-irregular-whitespace": "error", // http://eslint.org/docs/rules/no-irregular-whitespace
    "no-obj-calls": "error", // http://eslint.org/docs/rules/no-obj-calls
    "no-sparse-arrays": "error", // http://eslint.org/docs/rules/no-sparse-arrays
    "no-unreachable": "error", // http://eslint.org/docs/rules/no-unreachable
    "use-isnan": "error", // http://eslint.org/docs/rules/use-isnan
    "block-scoped-var": "off", // http://eslint.org/docs/rules/block-scoped-var

    /**
     * Best practices
     */
    "consistent-return": "error", // http://eslint.org/docs/rules/consistent-return
    "curly": ["error"], // http://eslint.org/docs/rules/curly
    "default-case": "error", // http://eslint.org/docs/rules/default-case
    "dot-notation": [
      2,
      {
        // http://eslint.org/docs/rules/dot-notation
        "allowKeywords": true
      }
    ],
    "eqeqeq": "error", // http://eslint.org/docs/rules/eqeqeq
    "guard-for-in": "off", // http://eslint.org/docs/rules/guard-for-in
    "no-bitwise": "error", // http://eslint.org/docs/rules/no-bitwise
    "no-caller": "error", // http://eslint.org/docs/rules/no-caller
    "no-else-return": "error", // http://eslint.org/docs/rules/no-else-return
    "no-eq-null": "error", // http://eslint.org/docs/rules/no-eq-null
    "no-eval": "error", // http://eslint.org/docs/rules/no-eval
    "no-extend-native": "error", // http://eslint.org/docs/rules/no-extend-native
    "no-extra-bind": "error", // http://eslint.org/docs/rules/no-extra-bind
    "no-fallthrough": "error", // http://eslint.org/docs/rules/no-fallthrough
    "no-floating-decimal": "error", // http://eslint.org/docs/rules/no-floating-decimal
    "no-implied-eval": "error", // http://eslint.org/docs/rules/no-implied-eval
    "no-lone-blocks": "error", // http://eslint.org/docs/rules/no-lone-blocks
    "no-loop-func": "error", // http://eslint.org/docs/rules/no-loop-func
    "no-multi-str": "error", // http://eslint.org/docs/rules/no-multi-str
    "no-native-reassign": "error", // http://eslint.org/docs/rules/no-native-reassign
    "no-new": "error", // http://eslint.org/docs/rules/no-new
    "no-new-func": "error", // http://eslint.org/docs/rules/no-new-func
    "no-new-wrappers": "error", // http://eslint.org/docs/rules/no-new-wrappers
    "no-octal": "error", // http://eslint.org/docs/rules/no-octal
    "no-octal-escape": "error", // http://eslint.org/docs/rules/no-octal-escape
    "no-param-reassign": "off", // http://eslint.org/docs/rules/no-param-reassign
    "no-proto": "error", // http://eslint.org/docs/rules/no-proto
    "no-redeclare": "error", // http://eslint.org/docs/rules/no-redeclare
    // "no-return-assign": "error",           // http://eslint.org/docs/rules/no-return-assign
    "no-script-url": "error", // http://eslint.org/docs/rules/no-script-url
    "no-self-compare": "error", // http://eslint.org/docs/rules/no-self-compare
    "no-sequences": "error", // http://eslint.org/docs/rules/no-sequences
    "no-throw-literal": "error", // http://eslint.org/docs/rules/no-throw-literal
    "no-with": "error", // http://eslint.org/docs/rules/no-with
    "radix": "error", // http://eslint.org/docs/rules/radix
    "vars-on-top": "error", // http://eslint.org/docs/rules/vars-on-top
    "wrap-iife": ["error", "any"], // http://eslint.org/docs/rules/wrap-iife
    "yoda": "error", // http://eslint.org/docs/rules/yoda

    /**
     * Style
     */
    "indent": ["error", 2, { "SwitchCase": 1 }], // http://eslint.org/docs/rules/indent
    "brace-style": [
      "error",
      "stroustrup",
      {
        // http://eslint.org/docs/rules/brace-style
        "allowSingleLine": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        // http://eslint.org/docs/rules/quotes
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "camelcase": [
      "error",
      {
        // http://eslint.org/docs/rules/camelcase
        "properties": "never"
      }
    ],
    "comma-spacing": [
      "error",
      {
        // http://eslint.org/docs/rules/comma-spacing
        "before": false,
        "after": true
      }
    ],
    "comma-style": ["error", "last"], // http://eslint.org/docs/rules/comma-style
    "eol-last": ["error", "always"], // http://eslint.org/docs/rules/eol-last
    "func-names": "off", // http://eslint.org/docs/rules/func-names
    "key-spacing": [
      "error",
      {
        // http://eslint.org/docs/rules/key-spacing
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "linebreak-style": ["error", "windows"], // http://eslint.org/docs/rules/linebreak-style
    "max-len": [
      "error",
      {
        // http://eslint.org/docs/rules/max-line
        "code": 180
      }
    ],
    "new-cap": [
      "error",
      {
        // http://eslint.org/docs/rules/new-cap
        "newIsCap": true
      }
    ],
    "new-parens": "error", // http://eslint.org/docs/rules/new-parens
    "no-multiple-empty-lines": [
      "error",
      {
        // http://eslint.org/docs/rules/no-multiple-empty-lines
        "max": 2
      }
    ],
    "no-nested-ternary": "error", // http://eslint.org/docs/rules/no-nested-ternary
    "no-new-object": "error", // http://eslint.org/docs/rules/no-new-object
    "no-spaced-func": "error", // http://eslint.org/docs/rules/no-spaced-func
    "no-trailing-spaces": "error", // http://eslint.org/docs/rules/no-trailing-spaces
    "no-extra-parens": ["error", "functions"], // http://eslint.org/docs/rules/no-extra-parens
    "no-underscore-dangle": "off", // http://eslint.org/docs/rules/no-underscore-dangle
    "one-var": ["error", "never"], // http://eslint.org/docs/rules/one-var
    "padded-blocks": ["error", "never"], // http://eslint.org/docs/rules/padded-blocks
    "semi": ["error", "always"], // http://eslint.org/docs/rules/semi
    "semi-spacing": [
      "error",
      {
        // http://eslint.org/docs/rules/semi-spacing
        "before": false,
        "after": true
      }
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        // http://eslint.org/docs/rules/sort-keys
        "caseSensitive": true,
        "natural": true
      }
    ],
    "keyword-spacing": [
      "error",
      {
        // http://eslint.org/docs/rules/keyword-spacing
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": "error", // http://eslint.org/docs/rules/space-before-blocks
    "space-before-function-paren": ["error", "never"], // http://eslint.org/docs/rules/space-before-function-paren
    "space-infix-ops": "error", // http://eslint.org/docs/rules/space-infix-ops
    "spaced-comment": [
      "off",
      "always",
      {
        // http://eslint.org/docs/rules/spaced-comment
        "exceptions": ["*"],
        "markers": ["*"]
      }
    ],

    // ECMAScript 6
    "arrow-body-style": ["error", "as-needed"], // http://eslint.org/docs/rules/arrow-body-style
    "arrow-parens": ["error", "as-needed"], // http://eslint.org/docs/rules/arrow-parens
    "arrow-spacing": ["error", { "before": true, "after": true }], // http://eslint.org/docs/rules/arrow-spacing
    "constructor-super": "error", // http://eslint.org/docs/rules/constructor-super
    "generator-star-spacing": ["error", "after"], // http://eslint.org/docs/rules/generator-star-spacing
    "no-class-assign": "error", // http://eslint.org/docs/rules/no-class-assign
    "no-confusing-arrow": "error", // http://eslint.org/docs/rules/no-confusing-arrow
    "no-const-assign": "error", // http://eslint.org/docs/rules/no-const-assign
    "no-dupe-class-members": "error", // http://eslint.org/docs/rules/no-dupe-class-members
    "no-duplicate-imports": ["error", { "includeExports": false }], // http://eslint.org/docs/rules/no-duplicate-imports
    "no-new-symbol": "error", // http://eslint.org/docs/rules/no-new-symbol
    "no-this-before-super": "error", // http://eslint.org/docs/rules/no-this-before-super
    "no-useless-computed-key": "error", // http://eslint.org/docs/rules/no-useless-computed-key
    "no-useless-constructor": "error", // http://eslint.org/docs/rules/no-useless-constructor
    "no-useless-rename": [
      "error",
      {
        // http://eslint.org/docs/rules/no-useless-rename
        "ignoreDestructuring": false,
        "ignoreImport": false,
        "ignoreExport": false
      }
    ],
    "no-var": "error", // http://eslint.org/docs/rules/no-var
    "object-shorthand": ["error", "consistent-as-needed"], // http://eslint.org/docs/rules/object-shorthand
    "prefer-arrow-callback": "error", // http://eslint.org/docs/rules/prefer-arrow-callback
    "prefer-const": [
      "error",
      {
        // http://eslint.org/docs/rules/prefer-const
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        // http://eslint.org/docs/rules/prefer-destructuring
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prefer-numeric-literals": "error", // http://eslint.org/docs/rules/prefer-numeric-literals
    "prefer-rest-params": "error", // http://eslint.org/docs/rules/prefer-rest-params
    "prefer-spread": "error", // http://eslint.org/docs/rules/prefer-spread
    "prefer-template": "error", // http://eslint.org/docs/rules/prefer-template
    "require-yield": "error", // http://eslint.org/docs/rules/require-yield
    "rest-spread-spacing": "error", // http://eslint.org/docs/rules/rest-spread-spacing
    "sort-imports": [
      "error",
      {
        // http://eslint.org/docs/rules/sort-imports
        "ignoreCase": false,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ],
    "symbol-description": "error", // http://eslint.org/docs/rules/symbol-description
    "template-curly-spacing": ["error", "never"], // http://eslint.org/docs/rules/template-curly-spacing
    "yield-star-spacing": ["error", "after"] // http://eslint.org/docs/rules/yield-star-spacing
  }
}
