$font-family-base: 'Open Sans', sans-serif;
$show-background-logo: false;

@import 'fonts/fonts';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
  @if $show-background-logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  padding: 1rem 0;
}

