$font-family-base: 'Open Sans', sans-serif;
$show-background-logo: false;

@import 'fonts/fonts';
@import '~bootstrap/scss/bootstrap';

body {
  @if $show-background-logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  padding: 1rem 0;
}
